<script type="text/javascript">
    $(document).ready(function() {
        $('.ui.dropdown').dropdown();
        $('.post-conent .avatar-link').popup({
            inline: true,
            positon: 'bottom right',
            lastResort: 'bottom right'
        });
    })
</script>
</body>
</html>
